<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenixhell.serviceEdu.mapper.EduCourseMapper">

    <select id="getCompleteCourseInfoById"
            resultType="com.phoenixhell.serviceEdu.entity.vo.CompleteCourseInfo">
        SELECT ec.id as id,ec.`title` as title,ed.`description` as description,es.`title`as subjectLevelTwo,es2.`title` as subjectLevelOne ,et.`id` as teacherId, et.`name` as teacherName,et.avatar as avatar,et.intro as intro, ec.`lesson_num` as lessonNum,ec.`cover` as cover ,ec.`price` as price
        FROM `edu_course` ec
        LEFT JOIN `edu_course_description` ed ON ec.`id`=ed.`id`
        LEFT JOIN `edu_subject` es ON ec.`subject_id`=es.`id`
        LEFT JOIN `edu_subject` es2 ON ec.`subject_parent_id`=es2.`id`
        LEFT JOIN `edu_teacher` et ON ec.`teacher_id`=et.`id`
        WHERE is_deleted=0 and ec.id=#{id}
    </select>

    <select id="getCompleteCoursePage"
            resultType="com.phoenixhell.serviceEdu.entity.vo.CompleteCourseInfo">
        SELECT ec.id as id,ec.`title` as title,ec.`buy_count` as buyCount,ec.`view_count` as viewCount, ec.status as status,ed.`description` as description,es2.`title`as subjectLevelTwo,es.`title` as subjectLevelOne ,et.`name` as teacherName, ec.`lesson_num` as lessonNum,ec.`cover` as cover ,ec.`price` as price,ec.`gmt_modified` as gmtModified
        FROM `edu_course` ec
        LEFT JOIN `edu_course_description` ed ON ec.`id`=ed.`id`
        LEFT JOIN `edu_subject` es ON ec.`subject_parent_id`=es.`id`
        LEFT JOIN `edu_subject` es2 ON ec.`subject_id`=es2.`id`
        LEFT JOIN `edu_teacher` et ON ec.`teacher_id`=et.`id`
        ${ew.customSqlSegment}
    </select>
</mapper>
